*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 10px;
    line-height: 1.5;
    text-align: center;
    color: #333;
    margin: 0;
}

#title{
    font-size: 2rem;
    margin: 10px auto 20px auto;
}

p{
    font-size: 1.2rem;
    margin: 5px auto;
}

#main{
    margin: 30px 8px;
    padding: 15px;
    border-radius: 5px;
    background: hsl(0, 0%, 93%);
}

#img-div{
    background-color: white;
    width: 100%;
    padding: 10px;
    margin: 0;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

ul{
    max-width: 550px;
    margin: 10px auto 20px auto;
    text-align: left;
    line-height: 2;
    font-size: 1rem;
}


.info h3{
    margin-top: 25px;
    font-size: 1rem;
    text-decoration: 2px underline;
}

span{
    font-weight: 700;
    text-decoration: 2px underline;
}

.links h6{
    font-size: 0.9rem;
}