*{
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Yantramanav', sans-serif;
}

body{
    padding: 50px 60px;
}

h2{
    font-size: 16px;
    letter-spacing: 2px;
    text-align: center;
    color: grey;
    font-weight: lighter;
    margin: 0;
}

h1{
    color: darkblue;
    font-size: 50px;
    text-align: center;
    font-weight: normal;
    margin: 0;
}

h3{
    font-size: 16px;
    font-weight: lighter;
    text-align: center;
    color: grey;
    line-height: 21px;
    margin: 0;
}

.steps{
    text-align: center;
    margin-top: 30px;
}

.steps a{
    text-decoration: none;
    color: darkblue;
    background-color: lightblue;
    padding: 12px;
    margin-left: 20px;
    display: inline-block;
    border-radius: 3px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
}

#grid{
    position: relative;
    top: 90px;
    text-align: center;
}

.card{
    width: 215px;
    height: 200px;
    display: inline-block;
    border: 2px solid lightblue;
    padding: 30px auto;
    margin-top: 4px;
    text-align: center;
    transform-style: preserve-3d;
    transition: transform 0.5s ease-in-out;
}

.card:hover{
    transform: rotateY(180deg);
}

.card img{
    padding: 40px;
}