html{
    font-size: 15px;
}

body{
    background-color: hsl(0, 0%, 98%);
    font-family: "Poppins", sans-serif;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 25px;
    justify-items: center;
    align-items: center;
}
  
.toptext {
    grid-column: 1 / -1;
    text-align: center;
}

.toptext h1{
    font-size: 1.9rem;
    font-weight: 300;
    color: hsl(234, 12%, 34%);
}

span{
    font-weight: 600;
    color: hsl(234, 12%, 34%);
}
  
.top-paragraph {
    font-size: 0.8rem;
    line-height: 1.5;
    color: hsl(229, 6%, 66%);
}
  
.box1,
.box2,
.box3,
.box4 {
    position: relative;
    width: 250px;
    margin: 0 auto;
    height: 180px;
    text-align: center;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.box1{
    border-top: 4px solid hsl(180, 62%, 55%);
    position: absolute;
    top: 50%;
    left: 0;
    right: 40%;
    bottom: 0;
}

.box2{
    border-top: 4px solid hsl(0, 78%, 62%);
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    bottom: 0;
}

.box3{
    border-top: 4px solid hsl(34, 97%, 64%);
    position: absolute;
    top: 62%;
    left: 0;
    right: 0;
    bottom: 0;
}

.box4{
    border-top: 4px solid hsl(212, 86%, 64%);
    position: absolute;
    top: 50%;
    left: 40%;
    right: 0;
    bottom: 0;
}

.image{
    width: 50px;
    position: relative;
    top: 15px;
    left: 30%;
}

.image3{
    width: 50px;
    position: relative;
    top: 15px;
    left: 30%;
}
  
.box-text {
    font-size: 1rem;
    font-weight: 600;
    text-align: left;
    padding-left: 20px;
    padding-top: 5px;
    color:hsl(234, 12%, 34%);
}
  
.box-paragraph {
    font-size: 0.7rem;
    text-align: left;
    line-height: 1.7;
    padding-left: 20px;
    color: hsl(229, 6%, 66%);
}
