* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

html {
    font-size: 16px; /* 1rem = 16px */
}

:root{
    --bg-color: #d0dae3;
    --main-color: #003a69;
    --hover-color: #105fa1;
    --bg-section-color: #00ffee;
}

body {
    background: var(--bg-color);
    color: black;
}

/* Nav and Home Css */
nav {
    display: flex;
    position: fixed;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 0.625rem; /* 10px */
    background: transparent;
}

.logo {
    margin-left: 3.125rem; /* 50px */
}

nav ul li {
    display: inline-block;
    justify-content: space-between;
    font-size: 1.0625rem; /* 17px */
    padding: 0.625rem; /* 10px */
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    margin-left: 1.25rem; /* 20px */
    transition: 0.3s;
}

nav h1 {
    margin-top: 0.3125rem; /* 5px */
}

nav ul li a:hover,
.active {
    color: var(--main-color);
}

#home {
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 3.75rem; /* 60px */
}

.content {
    max-width: 37.5rem; /* 600px */
}

.content h1 {
    font-size: 2.6875rem; /* 43px */
    font-weight: 700;
    line-height: 1.2;
}

.content h2 {
    font-size: 1.4375rem; /* 23px */
    font-weight: 700;
    letter-spacing: 0.0625rem; /* 1px */
    color: var(--main-color);
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

.content p {
    font-size: 1rem; /* 16px */
    margin: 1.25rem 0 2.5rem; /* 20px 0 40px */
}

.btn-box {
    width: 15.625rem; /* 250px */
    height: 2.5rem; /* 40px */
    display: flex;
    justify-content: space-between;
}

.btn-box a {
    background: var(--main-color);
    width: 6.875rem; /* 110px */
    height: 100%;
    border: 0.125rem solid var(--main-color); /* 2px */
    border-radius: 0.375rem; /* 6px */
    display: inline-flex;
    font-size: 0.85rem;
    color: #000;
    text-decoration: none;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: 0.2s;
}

.btn-box a:nth-child(2) {
    background: transparent;
    color: var(--main-color);
}

.btn-box a:hover,
.links a:hover {
    box-shadow: 0 0 0.3125rem var(--hover-color); /* 5px */
}

.links {
    position: absolute;
    bottom: 2.5rem; /* 40px */
    width: 18.75rem; /* 300px */
}

.links a {
    display: inline-flex;
    position: relative;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 2.5rem; /* 40px */
    height: 2.5rem; /* 40px */
    background: transparent;
    border: 0.1875rem solid var(--main-color); /* 3px */
    font-size: 1.25rem; /* 20px */
    color: var(--main-color);
    text-decoration: none;
    transition: 0.2s;
}

.image-box{
    border-radius: 50%;
}

.image-box img{
    width: 32vw;
    border-radius: 50%;
    position: absolute;
    left: 50rem;
    bottom: 180px;
    box-shadow: 0 0 25px var(--main-color);
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.image-box img:hover{
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color),
                0 0 100px var(--main-color);
}


/* Services Css */
#services{
    background-color: var(--main-color);
    color: black;
    padding: 3.7rem;
}

#services h1{
    font-size: 2.6875rem; /* 43px */
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    color: white;
    margin-bottom: 5rem;
}

.services-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
}

.service-box{
    background-color: var(--bg-color);
    height: 230px;
    border-radius: 1.5rem;
    border: 5px solid transparent;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.service-box:hover{
    color: black;
    background: white;
    border: 5px solid var(--main-color);
    transform: scale(1.03);
}

.service-box .service-info{
    display: flex;
    flex-direction: column;
    text-align: left;
    max-height: 200px;
    justify-content: left;
    align-items: baseline;
    padding: 2rem 2rem;
}

.service-info h4{
    font-size: 1.3rem;
    font-weight: 800;
    line-height: 2;
}

.service-info p{
    font-weight: 600;
    font-size: 0.9rem;
    max-height: 100px;
    line-height: 1.7;
    margin: auto;
}

/* Skills Css */

#skills{
    min-height: auto;
    background-color: var(--bg-color);
    padding: 3rem 3.7rem 7rem 3.7rem ;
    
}

#skills .skills-row{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.skills-row .skills-column{
    flex: 1 1 20rem;
}

#skills h2{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
}

#skills span{
    color: var(--main-color)
}

.skills-column .title{
    font-size: 1.3rem;
    margin: 1rem 0;
}

.skills-box .skills-content{
    position: relative;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    padding: .5rem 1.5rem;
}


.skills-content .progress{
    padding: 1rem 0;
}

.skills-content .progress h3{
    font-size: 1.1rem;
    display: flex;
    justify-content: space-between;
}

.skills-content .progress h3 span{
    color: var(--main-color);
}

.skills-content .progress .bar{
    height: 2rem;
    border-radius: .4rem;
    border: .2rem solid var(--main-color);
    padding: .5rem;
    margin: 1rem auto;
}

.skills-content .progress .bar span{
    display: block;
    height: 100%;
    border-radius: .2rem;
    background: var(--hover-color);
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(1) .bar span{
    width: 90%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(2) .bar span{
    width: 80%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(3) .bar span{
    width: 5%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(4) .bar span{
    width: 50%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(5) .bar span{
    width: 8%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(6) .bar span{
    width: 12%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(1) .bar span{
    width: 90%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(2) .bar span{
    width: 80%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(3) .bar span{
    width: 65%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(4) .bar span{
    width: 50%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(5) .bar span{
    width: 90%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(6) .bar span{
    width: 30%;
}