
body{
    background: linear-gradient(-45deg, #35577D, #141E30);
    margin: 0;
    padding: 0;
}

.article{
    padding: 40px;
}

h1{

    font-size: 2em;
    font-family: Georgia;
    color: white;
    text-align: center;
    width: 100%;
    padding-top: 100px;
}

h2{
    color: gray;
    font-size: 22px;
    font-weight: 130;
    font-family: Georgia;
    text-align: left;
    width: 70%;
}

p{
    color: white;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 18px;
    text-align: left;
    line-height: 1.3em;
    width: 100%;
}

figcaption{
    background-color: white;
    color: black;
    padding: 10px;
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    position: relative;
    margin-left: 20px;
    top: 80%;
    width: 60%;
    display: block;
}

.fig{
    height: 300px;
    background-size: cover;
    background-position: center;
}

.writer-img{
    float: left;
    width: 50px;
}

.pic-title{
    float: left;
    font-family: Helvetica;
    color: gray;
    font-size: 14px;
    text-transform: uppercase;
    padding-left: 10px;
}