*{
   margin: 0;
   padding: 0; 
}

body{
    background-color: white;
    font-family: 'Raleway', sans-serif;
}

.navbar ul{
    text-align: center;
    margin: 0;
    padding: 0;
}

.navbar ul li{
    text-decoration: none;
    padding: 20px;
    font-weight: 100;
    letter-spacing: 2px;
    transition: .3s;
}

.navbar ul li.important{
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 4px;
    color: black;
}

/*.donate{
    visibility: hidden;
}*/

/*Because i want to be extra */
.navbar ul li:hover{
    transform: scale(1.1);
}

.image{
    background-image: url("https://content.codecademy.com/courses/web-101/unit-6/htmlcss1-img_tahoe.jpeg"); 
    background-size: cover;
    background-position: bottom center;
    height: 700px;
    width: 100%;
    /*overflow: scroll; */
}

.imagetext{
    border: 3px solid white;
    width: 400px;
    margin: 0 auto;
    position: relative;
    top: 50px;
}

.imagetext h1{
    color: white;
    font-size: 30px;
    padding: 7px;
    font-size: 40px;
    text-align: center;
}

.content{
    text-align: center;
    width: 400px;
    height: 1000px;
    margin: 0 auto;
    overflow: scroll;
    padding: 40px;
}

.content h3{
    color: red;
    font-size: 26px;
    text-align: center;
    margin-top: 50px;
    padding: 20px 10px;
}