*{
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
    background-image: url('images/creative-wallpaper-with-white-shapes.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.top h1{
    font-size: 65px;
    color: blue;
    text-transform: capitalize;
}

@keyframes fadeIn{
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

h1{
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out 1s forwards;
}

input{
    padding: 10px;
    border-radius: 8px;
    border-width: 1px;
    text-align: center;
    width: 40%;
}

input::placeholder{
    color: #000;
    font-size: 15px;
}

textarea::placeholder{
    text-align: center;
    
    color: #000;
    font-size: 15px;
}

.btn{
    text-align: center;
    margin-top: 15px;
}

.centered{
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    border-width: 1px;
    font-weight: 700;
    background-color: blue;
    color: white;
    cursor: pointer;
}

.description i{
    font-size: 24px;
    position: relative;
    left: 3%;
    top: 6px;
}