*{
    font: serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-image:url('images/black-panther.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
}

.login{
    width: 420px;
    color: white;
    background-color: black;
}

.rememberme

[href]{
    color: gold;
}

[href]:hover{
    color: yellowgreen;
    text-decoration: underline;
}
.dev-class{
    color: blue;
}

#dev-id{
    color: firebrick;
    position: fixed;
    bottom: 0;
    right: 25px;
}